<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Dashboard - Car Management</title>
        <!-- SB Admin 2 CSS -->
        <link
            href="https://cdnjs.cloudflare.com/ajax/libs/startbootstrap-sb-admin-2/4.1.4/css/sb-admin-2.min.css"
            rel="stylesheet"
        />
        <!-- Bootstrap core CSS -->
        <link
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
            rel="stylesheet"
        />
        <style>
            /* Adjustments */
            .container {
                padding-top: 30px;
            }
            .card img {
                max-width: 100%;
                height: 200px;
                object-fit: cover;
            }
        </style>
    </head>
    <body id="page-top">
        <!-- Page Wrapper -->
        <div id="wrapper">
            <!-- Sidebar -->
            <ul
                class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion"
                id="accordionSidebar"
            >
                <!-- Sidebar - Brand -->
                <a
                    class="sidebar-brand d-flex align-items-center justify-content-center"
                    href="#"
                >
                    <div class="sidebar-brand-icon rotate-n-15">
                        <i class="fas fa-car"></i>
                    </div>
                    <div class="sidebar-brand-text mx-3">SYNRGY</div>
                </a>
                <!-- Divider -->
                <hr class="sidebar-divider my-0" />
                <!-- Nav Item - Dashboard -->
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <i class="fas fa-fw fa-tachometer-alt"></i>
                        <span>Dashboard</span>
                    </a>
                </li>
                <!-- Nav Item - Add New Car -->
                <li class="nav-item active">
                    <a class="nav-link" href="/cars/create">
                        <i class="fas fa-car"></i>
                        <span>Cars</span>
                    </a>
                </li>
            </ul>
            <!-- End of Sidebar -->
            <!-- Content Wrapper -->
            <div id="content-wrapper" class="d-flex flex-column">
                <!-- Main Content -->
                <div id="content">
                    <!-- Topbar -->
                    <nav
                        class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow"
                    >
                        <!-- Sidebar Toggle (Topbar) -->
                        <button
                            id="sidebarToggleTop"
                            class="btn btn-link d-md-none rounded-circle mr-3"
                        >
                            <i class="fa fa-bars"></i>
                        </button>
                        <!-- Header - Dashboard -->
                        <h1 class="h3 mb-0 text-gray-800 d-none d-lg-block">
                            Cars
                        </h1>
                    </nav>
                    <!-- End of Topbar -->
                    <!-- Begin Page Content -->
                    <div class="container-fluid">
                        <!-- Add New Car Button -->
                        <!-- Page Heading -->
                        <div
                            class="d-sm-flex align-items-center justify-content-between mb-4"
                        >
                            <h1 class="h3 mb-0 text-gray-800">
                                Car Management Dashboard
                            </h1>
                            <a
                                class="btn btn-primary"
                                href="/cars/create"
                                role="button"
                                >Add New Car</a
                            >
                        </div>
                        <div class="mb-4">
                            <span>Filter </span>
                            <button
                                class="btn btn-sm btn-outline-primary filter-btn"
                            >
                                Small
                            </button>
                            <button
                                class="btn btn-sm btn-outline-primary filter-btn"
                            >
                                Medium
                            </button>
                            <button
                                class="btn btn-sm btn-outline-primary filter-btn"
                            >
                                Large
                            </button>
                        </div>
                        <!-- Content Row -->
                        <div class="row">
                            <% cars.forEach(function(car) { %>
                            <div class="col-lg-4 mb-4">
                                <div class="card">
                                    <img
                                        src="/uploads/<%= car.img %>"
                                        class="card-img-top"
                                        alt="<%= car.name %>"
                                    />
                                    <div class="card-body">
                                        <h5 class="card-title">
                                            <%= car.name %>
                                        </h5>
                                        <p class="card-text">
                                            Rp<%= car.price %> / Hari
                                        </p>
                                        <p class="card-text">
                                            <svg
                                                xmlns="http://www.w3.org/2000/svg"
                                                viewBox="0 0 20 20"
                                                fill="currentColor"
                                                class="bi bi-clock"
                                                width="16"
                                                height="16"
                                            >
                                                <path
                                                    d="M9.25 4a.75.75 0 0 1 .75.75v4.794l3.02 1.809a.75.75 0 1 1-.75 1.298l-3.77-2.262a.75.75 0 0 1-.25-.56V4.75a.75.75 0 0 1 .75-.75z"
                                                />
                                                <path
                                                    fill-rule="evenodd"
                                                    d="M10 1a9 9 0 1 1 0 18 9 9 0 0 1 0-18zm0 1a8 8 0 1 1 0 16 8 8 0 0 1 0-16z"
                                                />
                                            </svg>
                                            Updated At <%=
                                            car.updated_at.toDateString() %>
                                        </p>
                                        <a
                                            href="/cars/edit/<%= car.id %>"
                                            class="btn btn-warning btn-sm"
                                            >Edit</a
                                        >
                                        <form
                                            action="/cars/<%= car.id %>?_method=DELETE"
                                            method="POST"
                                            id="deleteForm_<%= car.id %>"
                                            class="d-inline-block"
                                        >
                                            <input
                                                type="hidden"
                                                name="_method"
                                                value="DELETE"
                                            />
                                            <input
                                                type="hidden"
                                                name="id"
                                                value="<%= car.id %>"
                                            />
                                            <button
                                                type="button"
                                                class="btn btn-danger btn-sm delete-car"
                                                data-id="<%= car.id %>"
                                                data-name="<%= car.name %>"
                                            >
                                                Delete
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <% }); %>
                        </div>
                    </div>
                    <!-- /.container-fluid -->
                </div>
                <!-- End of Main Content -->
            </div>
            <!-- End of Content Wrapper -->
        </div>
        <!-- End of Page Wrapper -->
        <!-- Bootstrap core JavaScript-->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
        <!-- SweetAlert 2 JavaScript -->
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
        <script>
            $(document).ready(function () {
                $('.delete-car').on('click', function () {
                    var id = $(this).data('id');
                    var name = $(this).data('name');
                    var formId = 'deleteForm_' + id;
                    Swal.fire({
                        title: 'Hapus Mobil?',
                        text: 'Apakah anda yakin ingin mengapus ' + name + '?',
                        icon: 'warning',
                        showCancelButton: true,
                        confirmButtonColor: '#d33',
                        cancelButtonColor: '#3085d6',
                        confirmButtonText: 'Hapus!',
                    }).then((result) => {
                        if (result.isConfirmed) {
                            $('#' + formId).submit();
                        }
                    });
                });
            });
        </script>
        <!-- SB Admin 2 JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/startbootstrap-sb-admin-2/4.1.4/js/sb-admin-2.min.js"></script>
    </body>
</html>
